<form action="STAVITI LINK DO BEKA">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <label for="psw-repeat"><b>Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name" required>

        <label for="surname"><b>Surname</b></label>
        <input type="text" placeholder="Enter Surname" name="surname" id="surname" required>

        <label for="gender"><b>Gender:</b></label>
        <br/><br/>
        <span class="radio-button">
            <input type="radio" name="gender" value="male"> Male
            <input type="radio" name="gender" value="female"> Female
        </span> <br><br>

        <label for="JMBG"><b>JMBG</b></label>
        <input type="text" placeholder="Enter JMBG" name="JMBG" id="JMBG" required>

        <label for="address"><b>Address</b></label>
        <input type="text" placeholder="Enter Address" name="address" id="address" required>

        <label for="city"><b>City</b></label>
        <input type="text" placeholder="Enter City" name="city" id="city" required>

        <label for="country"><b>Country</b></label>
        <input type="text" placeholder="Enter Country" name="country" id="country" required>

        <label for="phone"><b>Phone</b></label>
        <input type="tel" placeholder="Enter Phone" name="phone" id="phone" required>

        <label for="profession"><b>Profession</b></label>
        <input type="text" placeholder="Enter Profession" name="profession" id="profession" required>

        <label for="information"><b>Information</b></label>
        <input type="text" placeholder="Enter Information about company/school/college/..." name="information" id="information" required>

        <button type="submit" class="registerbtn">Register</button>
      </div>
      
</form>
