<form (ngSubmit)="registerUser()">
    <div class="container" style="box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); max-width: 900px;">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <div>
            <div [formGroup]="registrationForm">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" id="email" oninput="this.className = ''" [(ngModel)]="user.email" required formControlName="email">
                <span *ngIf="email && email.invalid && email.touched" style="color: red;">
                    Email is required!
                </span>
                <br>
                <span *ngIf="!isValidEmail(user.email) && email && email.touched  && !email.invalid" style="color: red;">
                    Email must have specific form something@mailserver.topdomain!
                </span>
            </div>


            <div [formGroup]="registrationForm">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" id="psw" oninput="this.className = ''" [(ngModel)]="user.password" formControlName="psw" required>

                <span *ngIf=" psw && psw.invalid && psw.touched" style="color: red;">
                    Password is required!
                </span>
                <br>
                <span *ngIf="!isLongPassword(user.password) && psw && psw.touched  && !psw.invalid" style="color: red;">
                    An insufficiently long password! Password must have 5 or more characters!
                </span>
                <br>
            </div>


            <div>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" (input)="repeatPassword($event)" name="psw_repeat" id="psw_repeat" required [(ngModel)]="repeat">
            <span *ngIf="isRepatPasswordIsEmpty()" style="color: #FDB5B5;">
                This field is required!
            </span>
            <br>
            <span *ngIf="!isPasswordCorrect()" style="color: red;">
                The entered and repeated passwords don't match, try again!
            </span>
            </div>
            <hr>

            
            <div [formGroup]="registrationForm">
                <label for="name"><b>Name</b></label>
                <input type="text"  placeholder="Enter Name" name="name" id="name" oninput="this.className = ''" [(ngModel)]="user.name" required formControlName="name">
                <span *ngIf="name && name.invalid && name.touched" style="color: red;">
                    Name is required!
                </span>
                <br>
                <span *ngIf="!isValid(user.name) && name && name.touched  && !name.invalid" style="color: red;">
                    The name must start with a capital letter and must have 2 or more letters!
                </span>
            </div>
            <br>

            <div [formGroup]="registrationForm">
                <label for="surname"><b>Surname</b></label>
                <input type="text" placeholder="Enter Surname" name="surname" id="surname" oninput="this.className = ''" [(ngModel)]="user.surname" required formControlName="surname">
                <span *ngIf="surname && surname.invalid && surname.touched "style="color: red;">
                    Surname is required!
                </span>

                <span *ngIf="!isValid(user.surname) && surname && surname.touched  && !surname.invalid" style="color: red;">
                    The surname must start with a capital letter and must have two or more letters!
                </span>
                <br>
            </div>
            

            <div [formGroup]="registrationForm">
                <label for="gender"><b>Gender:</b></label>
                <br/><br/>
                <span class="radio-button">
                    <input type="radio" name="gender" value="MALE" [(ngModel)]="user.gender" oninput="this.className = ''" formControlName="gender"> Male
                    <input type="radio" name="gender" value="FEMALE" [(ngModel)]="user.gender" formControlName="gender"> Female
                </span>
                <span *ngIf="gender && gender.invalid && gender.touched "style="color: red;">
                    Gender is required!
                </span>
            </div>
            <br><br>

            <div [formGroup]="registrationForm">
                <label for="JMBG"><b>JMBG</b></label>
                <input type="text" placeholder="Enter JMBG" name="JMBG" id="JMBG" [(ngModel)]="user.URN" oninput="this.className = ''" formControlName="URN" required>
                <br>
                <span *ngIf="URN && URN.invalid && URN.touched "style="color: red;">
                    URN is required!
                </span>
                <span *ngIf="!isURNValid() && URN && URN.touched  && !URN.invalid" style="color: red;">
                    URN must have 13 digits!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="address"><b>Street</b></label>
                <input type="text" placeholder="Enter Street" name="address" id="address" [(ngModel)]="user.address.street" oninput="this.className = ''" required formControlName="address">
                <br>
                <span *ngIf="address && address.invalid && address.touched "style="color: red;">
                    Street is required!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="address"><b>Street number</b></label>
                <input type="text" placeholder="Enter Street Number" name="streetNumber" id="streetNumber" [(ngModel)]="user.address.number" oninput="this.className = ''" required formControlName="streetNumber">
                <br>
                <span *ngIf="streetNumber && streetNumber.invalid && streetNumber.touched "style="color: red;">
                    Street number is required!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="city"><b>City</b></label>
                <input type="text" placeholder="Enter City" name="city" id="city" [(ngModel)]="user.address.city"  oninput="this.className = ''" required formControlName="city">
                <span *ngIf="city && city.invalid && city.touched "style="color: red;">
                    City is required!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="country"><b>Country</b></label>
                <input type="text" placeholder="Enter Country" name="country" id="country" [(ngModel)]="user.address.country" oninput="this.className = ''" required formControlName="country">
                <span *ngIf="country && country.invalid && country.touched "style="color: red;">
                    Country is required!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="phoneNumber"><b>Phone</b></label>
                <input type="tel" placeholder="Enter Phone" name="phoneNumber" id="phoneNumber" [(ngModel)]="user.phoneNumber" oninput="this.className = ''" required formControlName="phoneNumber">
                <span *ngIf="phoneNumber && phoneNumber.invalid && phoneNumber.touched "style="color: red;">
                    Phone number is required!
                </span>
                <span *ngIf="!isPhoneNumberValid() && phoneNumber && phoneNumber.touched  && !phoneNumber.invalid "style="color: red;">
                    Phone number must have 4 or more digits!
                </span>
            </div>   

            <div [formGroup]="registrationForm">
                <label for="profession"><b>Profession</b></label>
                <input type="text" placeholder="Enter Profession" name="profession" id="profession" [(ngModel)]="user.profession" oninput="this.className = ''" required formControlName="profession">
                <span *ngIf="profession && profession.invalid && profession.touched "style="color: red;">
                    Profession is required!
                </span>
            </div>

            <div [formGroup]="registrationForm">
                <label for="infoAboutInstitution"><b>Information</b></label>
                <input type="text" placeholder="Enter Information about company/school/college/..." name="infoAboutInstitution" id="infoAboutInstitution" [(ngModel)]="user.infoAboutInstitution" oninput="this.className = ''" required formControlName="infoAboutInstitution">
                <span *ngIf="infoAboutInstitution && infoAboutInstitution.invalid && infoAboutInstitution.touched "style="color: red;">
                    Info about institution is required!
                </span>
            </div>    

        </div>
        <button class="registerbtn" [disabled]="registrationForm.invalid && !isAllValid()">Register</button>
    </div>
      
</form>
