<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <div class="container">
    <div class="container-f">

        <div class="title-container">
        <h2 class="title">Welcome!</h2>
        <h3 >Change your initial password:</h3>
        <br>
        <br>
        </div>
        <div class="container">
            <form >

                <div appearance="fill">
                    <label>Password</label>
                    <input  [(ngModel)]="oldPass" type="password" [ngModelOptions]="{standalone: true}">
                </div><br>
                <span style="color: red">{{errorOldPass}}</span>

                <br>
                <div appearance="fill">
                    <label>New password</label>
                    <input name="email"  [(ngModel)]="newPass" type="password"  [ngModelOptions]="{standalone: true}">
                </div><br>
                <br>

                <div appearance="fill">
                    <label>Confirm new password</label>
                    <input name="email"  [(ngModel)]="confirmNewPass" type="password" [ngModelOptions]="{standalone: true}">
                </div><br>
                <span style="color: red">{{errorNewPass}}</span>

                <br>
            </form>
            <button class="btn btn-primary" (click)="changePassword()">
                Submit
            </button>
        </div>
    </div>
</div>
</body>
</html>

    
