<div class="container">
  <div class="container">
    <div class="container-f">
      <div>
        <div class="title-container">
          <h1 class="title">Schedule Appointment</h1>
        </div>
        <div>
          <label for="dateofbirth">Choose date</label>
        </div>
        <div>
          <input type="date">
        </div>
        <div>
          <label for="dateofbirth">Choose time</label>
        </div>
        <div>
          <input type="time">
        </div>
        <div>
          <label for="dateofbirth">Duration</label>
        </div>
        <div>
          <input type="number">
        </div>
      </div>
    </div>
  </div>
  
</div>
