.unauthorized-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .unauthorized-content {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #777;
  }
  