<br>
<br>
<h4 style="text-align: center; color: #04AA6D;">Before making an appointment, please fill out this questionnaire.</h4>
<div>
    <form>
        <div>
            <h5>Do you weigh less than 50 kg?</h5>
            <input type="radio" id="question1" name="question1" value="true">&nbsp;
            <label for="question1"> Yes</label>&nbsp;
            <input type="radio" id="question1" name="question1" value="false">&nbsp;
            <label for="question1"> No</label>
        </div>
        <hr>
        <div>
            <h5>Have you been sick in the last 7 days?</h5>
            <input type="radio" id="question2" name="question2" value="true">&nbsp;
            <label for="question2"> Yes</label>&nbsp;
            <input type="radio" id="question2" name="question2" value="false">&nbsp;
            <label for="question2"> No</label>
        </div>

        <hr>
        <div>
            <h5>Have you used antibiotics in the last 7 days?</h5>
            <input type="radio" id="question3" name="question3" value="true">&nbsp;
            <label for="question3"> Yes</label>&nbsp;
            <input type="radio" id="question3" name="question3" value="false">&nbsp;
            <label for="question3"> No</label>
        </div>

        <hr>
        <div>
            <h5>Are you a smoker?</h5>
            <input type="radio" id="question4" name="question4" value="true">&nbsp;
            <label for="question4"> Yes</label>&nbsp;
            <input type="radio" id="question4" name="question4" value="false">&nbsp;
            <label for="question4"> No</label>
        </div>

        <hr>
        <div>
            <h5>Have you consumed alcohol in the last 24 hours?</h5>
            <input type="radio" id="question5" name="question5" value="true">&nbsp;
            <label for="question5"> Yes</label>&nbsp;
            <input type="radio" id="question5" name="question5" value="false">&nbsp;
            <label for="question5"> No</label>
        </div>

        <hr>
        <div>
            <h5>Are you prescribed regular therapy?</h5>
            <input type="radio" id="question6" name="question6" value="true">&nbsp;
            <label for="question6"> Yes</label>&nbsp;
            <input type="radio" id="question6" name="question6" value="false">&nbsp;
            <label for="question6"> No</label>
        </div>

        <hr>
        <div>
            <h5>Do you have dermatological problems?</h5>
            <input type="radio" id="question7" name="question7" value="true">&nbsp;
            <label for="question7"> Yes</label>&nbsp;
            <input type="radio" id="question7" name="question7" value="false">&nbsp;
            <label for="question7"> No</label>
        </div>

        <hr>
        <div>
            <h5>Do you have heart problems?</h5>
            <input type="radio" id="question8" name="question8" value="true">&nbsp;
            <label for="question8"> Yes</label>&nbsp;
            <input type="radio" id="question8" name="question8" value="false">&nbsp;
            <label for="question8"> No</label>
        </div>

        <hr>
        <div>
            <h5>Are you taking antidepressants?</h5>
            <input type="radio" id="question9" name="question9" value="true">&nbsp;
            <label for="question9"> Yes</label>&nbsp;
            <input type="radio" id="question9" name="question9" value="false">&nbsp;
            <label for="question9"> No</label>
        </div>

        <hr>
        <div>
            <h5>Have you had a tooth extracted in the last 7 days?</h5>
            <input type="radio" id="question10" name="question10" value="true">&nbsp;
            <label for="question10"> Yes</label>&nbsp;
            <input type="radio" id="question10" name="question10" value="false">&nbsp;
            <label for="question10"> No</label>
        </div>

        <hr>
        <div>
            <h5>Have you had surgery in the last month?</h5>
            <input type="radio" id="question11" name="question11" value="true">&nbsp;
            <label for="question11"> Yes</label>&nbsp;
            <input type="radio" id="question11" name="question11" value="false">&nbsp;
            <label for="question11"> No</label>
        </div>
        <hr>
        <div>
            <h5>Have you received a vaccine or serum in the last 6 months?</h5>
            <input type="radio" id="question12" name="question12" value="true">&nbsp;
            <label for="question12"> Yes</label>&nbsp;
            <input type="radio" id="question12" name="question12" value="false">&nbsp;
            <label for="question12"> No</label>

            <button>Submit</button>
        </div>


    </form>
</div>
