<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" /> 
    <title>Centers</title>
</head>
<body>
    <div class="container" style="box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);">
        <div class="table-header">
            <p class="table-title">List of all centers</p>
        </div>
        <div class="filtrateTable">
            <table>
                <tr>
                    <td><label>Name</label></td>
                    <td><label>City</label></td>
                </tr>
                <tr>
                    <td style="background-color: white;"><input type="text" placeholder="Name" [(ngModel)]="searchName"></td>
                    <td style="background-color: white;"><input type="text" placeholder="City" [(ngModel)]="searchCity"></td>
                    <td style="background-color: white;"><button (click)="searchCenters()" class="searchBtn">Search</button></td>
                </tr>
            </table>
        </div>
        <div>
            <table class="filtrateTable">
                <tr>
                    <td><label>From grade</label></td>
                    <td><label>To grade</label></td>
                </tr>
                <tr>
                    <td style="background-color: white;"><input type="number" placeholder="From grade" [(ngModel)]="searchMinGrade"></td>
                    <td style="background-color: white;"><input type="number" placeholder="To grade" [(ngModel)]="searchMaxGrade"></td>
                    <td style="background-color: white;"><button (click)="filterCenters()" class="searchBtn">Filter</button></td>
                </tr>
            </table>

        </div>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <a ><th mat-header-cell *matHeaderCellDef class="cell-center" > Name&nbsp; <button class="sort-button" (click)="sortFunctionByName(booleanValueByName)"><i class="fa fa-sort"></i></button></th></a>
                <td mat-cell *matCellDef="let centers" class="clickable cell-center">{{centers.name}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> City &nbsp; <button class="sort-button" (click)="sortFunctionByCity(booleanValueByCity)"><i class="fa fa-sort"></i></button></th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.city}}</td>
            </ng-container>
            <ng-container matColumnDef="street">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Street &nbsp; <button class="sort-button" (click)="sortFunctionByStreet(booleanValueByStreet)"><i class="fa fa-sort"></i></button></th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.street}}</td>
            </ng-container>
            <ng-container matColumnDef="streetNumber">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Street number &nbsp; <button class="sort-button" (click)="sortFunctionByStreetNumber(booleanValueByStreetNumber)"><i class="fa fa-sort"></i></button></th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.streetNumber}}</td>
            </ng-container>
            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef class="cell-center">Grade &nbsp; <button (click)="sortFunctionByGrade(booleanValueByGrade)" class="sort-button"><i class="fa fa-sort"></i></button></th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.grade}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
</body>
</html>