<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Centers</title>
</head>
<body>
    <div class="container">
        <div class="table-header">
            <p class="table-title">List of all centers</p>
        </div>
       
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Name </th>
                <td mat-cell *matCellDef="let centers" class="clickable cell-center">{{centers.name}}</td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> City </th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.city}}</td>
            </ng-container>
            <ng-container matColumnDef="street">
                <th mat-header-cell *matHeaderCellDef class="cell-center"> Street</th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.street}}</td>
            </ng-container>
            <ng-container matColumnDef="grade">
                <th mat-header-cell *matHeaderCellDef class="cell-center">Grade</th>
                <td mat-cell *matCellDef="let centers" class="cell-center">{{centers.grade}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</body>
</html>