<!-- appointments.component.html -->
<div class="table-container">
    <h2>Feature Appointments</h2>
    <table class="table">
      <thead>
        <tr class="header-row">
          <th>Date</th>
          <th>Time</th>
          <th>Duration</th>
          <th>Blood bank</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments; let i = index" [class.odd-row]="i % 2 !== 0">
          <td>{{ appointment.date | date: 'yyyy-MM-dd' }}</td>
          <td>{{ appointment.time }}</td>
          <td>{{ appointment.duration }} minutes</td>
          <td>{{ appointment.bloodBank.name }}</td>
          <td><button class="button" (click)="cancelAppointment(appointment.id)">Cancel</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  